/* CSS RESET */

abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    background: linen;
}

h1 {
    line-height: 1;
    font-family: 'Prata', serif;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: -3px;
    margin: 0 0 10px 0;
}

h2 {
    line-height: 1;
    font-family: 'Prata', serif;
    font-weight: 400;
    letter-spacing: -.5px;
    margin: 0 0 10px 0;
}

h3 {
    font-size: 1.3rem;
    line-height: 1;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-decoration: underline;
    margin: 0 0 20px 0;
}

a {
    font-weight: bold;
    text-decoration: underline;
    color: #202020;
    -webkit-transition: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -ms-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    transition: all .2s linear 0s;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #666666;
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    letter-spacing: 1px;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    vertical-align: baseline;
    border: none;
    border-top: 4px double #202020;
    color: #202020;
    font-size: 3rem;
    overflow: visible;
    text-align: center;
    margin: 80px auto 20px;
    display: block;
    max-width: 1000px;
    width: 70%;
    height: 50px;
}

hr:after {
    content: '❧';
    background-color: moccasin;
    display: inline-block;
    padding: 10px 0;
    margin: 0;
    position: relative;
    top: -2rem;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

figure {
    font-size: 6rem;
    padding: 30px 0 20px;
}

header {
    display: grid;
}

section:first-child {
    background: none !important;
}

section:nth-child(odd) {
    background: linen;
}

section:nth-child(odd) .content {
    background: moccasin;
}

section:nth-child(even) {
    background: moccasin;
}

section:nth-child(even) .content {
    background: papayawhip;
}

section .content {
    padding: 80px 0;
}

.content {
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid violet; */
    background: #ffffff;
}

ul.row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

ul.row li {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

#top-nav {
    position: fixed;
    z-index: 100;
    width: 100%;
}

#top-nav .content {
    width: 100%;
    height: 65px;
    max-width: 9999px;
    background: none;
    -webkit-transition: background .3s ease-in;
    -moz-transition: background .3s ease-in;
    -ms-transition: background .3s ease-in;
    -o-transition: background .3s ease-in;
    transition: background .3s ease-in;
}

#top-nav .content.fixed {
    background: #ffffff;
}

#top-nav li {
    display: inline;
}

#top-nav a {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif; 
    font-weight: 800;
    letter-spacing: .1rem;
    font-size: 1.1rem;
    color: #202020;
    text-decoration: none;
    display: inline-block;
    padding: 24px 60px;
}

#hero .content {
    padding: 0;
}

#hero .splash {
    /* background-image: url('splash-low.jpg'); */
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    background-color: moccasin;
}

#hero .splash .announcement {
    text-align: center;
    margin: 0 auto;
    z-index: 10;
}

#hero .splash .announcement p {
    text-transform: uppercase;
    font-weight: 800;
}

#hero .splash img {
    mix-blend-mode: luminosity;
    z-index: 1;
    opacity: .6;
    filter: saturate(50%) brightness(.9) hue-rotate(180deg);
    vertical-align: top;
}

#clock {
    z-index: 10;
}

#countdown {
    line-height: 1;
    font-family: 'Prata', serif;
    font-weight: 400;
    width: 100%;
}

#countdown p {
    line-height: 1;
    font-family: 'Prata', serif;
    margin: 0 auto 10px;
    width: 100%;
}

p.intro,
p.outro {
    text-transform: uppercase;
    line-height: 1.5;
    margin: 0 auto;
    letter-spacing: 1.5px;
}

p.intro {
    padding: 20px 0;
}

p.detail {
    font-style: italic;
}

p.outro {
    padding: 0;
}

p:last-child.outro {
    padding: 0 0 50px 0;
}

p.venue {
    font-weight: 800;
    margin: 0 auto 5px;
    line-height: 1;
}

p.loc {
    line-height: 1;
}

p.loc:after {
    content: '~';
    display: block;
}

#hotels {
    /* border: 1px solid green */
}

#rsvp {
    /* border: 1px solid red; */
}

/* .freebirdFormviewerViewCenteredContent {
    width: 800px !important;
}

.freebirdFormviewerViewFormCard.exportFormCard {
    box-shadow: none !important;
}

.freebirdFormviewerViewEmbedded .freebirdFormviewerViewAccentBanner {
    border: none !important;
    height: 0 !important;
}

.freebirdFormviewerViewItemsItemItem {
    padding: 16px 0;
}
.freebirdCustomFont,
.m2 .freebirdCustomFont,
.freebirdCustomFont .exportContentArea .exportTextarea,
.m2 .freebirdCustomFont .exportContentArea .exportTextarea,
.m2 .freebirdCustomFont .exportPlaceholder {
    font-family: 'Heebo', sans-serif; 
} */

/* .docssharedWizToggleLabeledLabelWrapper.exportLabelWrapper {
    display: inline;
} */

/* .quantumWizTogglePaperradioOffRadio {
    border-radius: 0 !important;
    width: 30px !important;
    height: 30px !important;
} 

.freebirdFormviewerViewNavigationProgressIndicatorFill.fifty-six {
    background: moccasin !important;
}

.freebirdFormviewerViewHeaderHeader.exportHeader {
    display: none !important;
}

.freebirdFormviewerViewFooterFooterContainer,
.freebirdFormviewerViewNavigationPasswordWarning {
    display: none !important;
} */

#registry ul.row li {
    max-width: 300px;
}

#registry ul.row a {
    display: block;
}

#registry ul.row a:hover {
    opacity: .8;
}

#registry ul.row img {
    vertical-align: top;
}

#registry .content {
    padding: 80px 0 0 0;
}

/* BREAKPOINTS */

@media only screen and (min-width:1601px) /* XL Desktop*/ {

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    section {
        max-width: 1540px;
        margin: 0 auto;
    }

    main {
        margin: 65px 0;
    }

    .content {
        max-width: 1440px;
    }

    #hero .splash .announcement {
        position: absolute;
        top: 9%;
        left: 2%;
        width: 600px;
    }

    #hero .splash .announcement p {
        font-size: 1.5rem;
    }

    #clock {
        position: absolute;
        top: 63%;
        right: 5%;
    }

    #countdown {
        font-size: 4rem;
        color :#ffffff;
    }

    #countdown p {
        font-size: 3rem;
    }

    p {
        width: 50%;
    }

    ul.row {
        margin: 60px 7% 0;
    }

    #celebration ul.row li {
        width: 30%;
    }

    /* ul.row li {
        display: inline-block;
    }

    #celebration ul.row li:nth-child(2) {
        padding: 0 12%;
    } */
}

@media only screen and (max-width:1600px) and (min-width:1025px) /* Tablet */ {

    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 3rem;
    }

    main {
        margin: 65px 0;
    }

    .content {
        width: 94%;
    }

    #hero .splash .announcement {
        position: absolute;
        top: 9%;
        left: 2%;
        width: 45%;
    }

    #hero .splash .announcement p {
        font-size: 1.7vw;
    }

    #clock {
        position: absolute;
        top: 63%;
        right: 5%;
    }

    #countdown {
        font-size: 4vw;
        color :#ffffff;
    }

    #countdown p {
        font-size: 3vw;
    }

    p {
        width: 70%;
    }

    ul.row {
        margin: 60px 6% 0;
    }

    #celebration ul.row li {
        width: 30%;
    }

    /* ul.row li {
        display: inline-block;
    }

    #celebration ul.row li:nth-child(2) {
        padding: 0 12%;
    } */
}

@media only screen and (max-width:1024px) and (min-width:300px) /* XL Mobile */ {

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }
    
    main {
        margin: 0;
    }

    #global-container {
        margin: 0;
        min-width: 300px;
    }

    #top-nav {
        display: none;
    }

    #hero .splash .announcement {
        background: peachpuff;
        padding: 40px 30px 0 30px;
    }

    #hero .splash .announcement p {
        font-size: 1.5rem;
    }

    #hero .splash .announcement:after {
        content: '~';
        display: block;
        font-size: 3.5rem;
    }

    #countdown {
        font-size: 2.5rem;
        background: peachpuff;
        color :#202020;
        padding: 10px 30px 30px 30px;
    }

    #countdown p {
        font-size: 2rem;
    }

    p {
        width: 80%;
    }

    ul.row {
        margin: 40px 40px 0 40px;
    }

    ul.row li {
        width: 100%;
        margin: 0 0 40px 0;
    }

    ul.row li:last-child {
        margin: 0;
    }

    /* #celebration ul.row li:nth-child(2) {
        padding: 30px 0;
    } */

    .content {
        width: 100%;
    }
}
